@model Tukkan.Models.Cart

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Sepet</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container">
        <h2>Sepet Özeti</h2>

        @if (Model.Items.Any())
        {
            foreach (var item in Model.Items)
            {
        <div class="cart-item">
            <div class="cart-item-details">
                <span>Ürün Adı: @item.Product.Name</span>
                <span>Adet: @item.Quantity</span>
                <span>Fiyat: @item.Product.Price.ToString("C")</span>
            </div>
        </div>
            }

        <div class="cart-total">
            <h3>Toplam Tutar: <span id="total-amount">@Model.TotalAmount.ToString("C")</span></h3>
        </div>
        }
        else
        {
        <p>Sepetinizde ürün bulunmamaktadır.</p>
        }
    </div>
</body>
</html>
