<h2>Sepet</h2> <ul> @if (Model.Products.Count > 0)
	{
		foreach (var product in Model.Products)
		{
			<li>@product.Name - @product.Price</li>
		}
	}
	else
	{
		<li>Sepetinizde ürün yok.</li>
	} </ul> <form asp-action="ClearCart" method="post"> <button type="submit">Sepeti Sıfırla</button> </form> ```