/* Tabbar için stil ayarları */
.tabbar {
    display: flex;
    justify-content: space-around;
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 5px;
    margin: 20px 0;
}

    .tabbar a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .tabbar a:hover {
            background-color: #0056b3;
        }

    .tabbar .active {
        background-color: #0056b3; /* Aktif sekme rengi */
        font-weight: bold;
    }
